[tools]
#poetry = { version = "2.2", pyproject = "{{ config_root }}/py/pyproject.toml" }
uv = "0.9.17"
python = { version = "3.11", virtualenv = "{{ config_root }}/py/.venv" } # must be after poetry so the poetry bin is first in PATH

[tasks.install]
description = "Install (all) dependencies"
alias = "i"
run = "uv pip install -r {{ config_root }}/py/pyproject.toml --all-extras"

[env]
# Use the project name derived from the current directory
PROJECT_NAME = "{{ config_root | basename }}"
PROJECT_ROOT = "{{ config_root }}"

# Automatic virtualenv activation
_.python.venv = { path = "{{ config_root }}/py/.venv", create = true }

